<div class="jumbotron text-center">
  <h1><span class="fa fa-list-ul"></span> YATD App</h1>
</div>
<div class="col-sm-6 col-sm-offset-3">

<h1><span class="fa fa-sign-in"></span> Login</h1>

{{#if login_error_message}}
  <div class="alert alert-danger">{{login_error_message}}</div>
{{/if}}

<!-- LOGIN FORM -->
<form {{action 'authenticate' on='submit'}}>
  <div class="form-group">
    <label for="identification">Email</label>
    {{input class="form-control" id='identification' placeholder="Enter Email Address" value=identification}}
  </div>
  <div class="form-group">
    <label for='password'>Password</label>
    {{input class='form-control' id='password' placeholder='Enter Password' type='password' value=password}}
  </div>

  <button type="submit" class="btn btn-warning btn-lg">Login</button>
</form>

<hr>

<p>Need an account? <a href="/signup">Signup</a></p>
</div>
