<!-- HEADER AND TODO COUNT -->
<div class="jumbotron text-center">
  <h1>
    I'm a Todo-aholic <span class="label label-info">{{ todos.length }}</span>
    {{#if session.isAuthenticated}}
      <button class='btn btn-warning btn-lg' {{action 'invalidateSession'}}>Log Out</button>
    {{/if}}
  </h1>
</div>

<!-- TODO LIST -->
<div id="todo-list" class="row">
  <div class="col-sm-4 col-sm-offset-4">

    <div data-ng-if="!todos || todos.length === 0">You've got nothing to do...but relax!</div>

    <!-- LOOP OVER THE TODOS IN $scope.todos -->
    <div class="checkbox" data-ng-repeat="todo in todos">
      <label>
        <input type="checkbox" data-ng-click="deleteTodo(todo)"> {{ todo }}
      </label>
    </div>
  </div>
</div>

<!-- FORM TO CREATE TODOS -->
<div id="todo-form" class="row">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <form data-ng-submit="createTodo()">
      <div class="form-group">

        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
        <input type="text" class="form-control input-lg text-center" data-ng-model="newTodo" placeholder="Write code (get back to work)?">
      </div>

      <!-- createToDo() WILL CREATE NEW TODOS -->
      <button type="submit" class="btn btn-primary btn-lg">Add</button>
    </form>
  </div>
</div>
